/*Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: arial;
}

img{
    max-width: 100%;
}

:root {
    --zoom-black: black;
    --zoom-dark: #222222;
    --zoom-rpimary: #4a4a4a;
    --zoom-danger: red;
    --zoom-white: white;
}

/* #region utility*/
.container{
    max-width: 1152px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.btn {
    background-color: transparent;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border-style: none;
}

.btn-primary {
    background-color: var(--zoom-dark);
    color: var(--zoom-white);
}

/* #endregion utility*/

/* #region main*/
.sfondo{
    height: 100vh;
    overflow: hidden; /*prevede che si rompa il layout*/
}

.m{
    height: calc(100% - 70px);
}

.speacker {
    padding: 0.5rem;
    text-align: end;
}

.speacker i{
    padding: 3px;
    text-align: center;
}

.participants{
    padding: 2rem 0;
    overflow-y: auto;
    height: calc(100% - 70px); 
}

.participants .part{
    width: calc((100% / 7) - 0.5rem);
    position: relative;
}

.participants .container{
    gap: 0.5rem;
}

.name{
    font-size: x-small;
    background-color: rgba(45, 45, 45, 0.489);
    position: absolute;
    bottom: 3px;
    left: 1px;
    color: var(--zoom-white);
    padding: 0.3rem;
}
/* #endregion main*/

/* #region footer*/
.tools {
    height: 70px;
    background-color: #222;
}

footer.tools{
    color: var(--zoom-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.icon> div{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    font-size: x-small;
}

.icon{
    font-size:large;
}

.toggle, .btn_f{
    align-items: center;
    font-size: x-small;
}

.right{
    height: 100%;
    background-color: var(--zoom-rpimary);
    padding: 0 1rem;
}

.btn_f{
    color: var(--zoom-danger); 
}
/* #endregion footer*/
