/*Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

img{
    max-width: 100%;
}

:root {
    --zoom-black: black;
    --zoom-dark: #222222;
    --zoom-rpimary: #4a4a4a;
    --zoom-danger: red;
    --zoom-white: white;
}

/*#region Debug*/
.debug .wrapper{
    background-color: red;
}

.debug .wrapper{
    height: 100vh;
}

.debug .participant{
    aspect-ratio: 1 / 1;
    background-color: gray;
}
/*#endregion Debug*/

/* #region utility*/
.container{
    max-width: 1152px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.btn {
    background-color: transparent;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border-style: none;
}

.btn-primary {
    background-color: var(--zoom-dark);
    color: var(--zoom-white);
}

.justify_content_center{
    justify-content: center;
}

.text_end{
    text-align: end;
}

/* #endregion utility*/

/* #region main*/
.sfondo{
    height: 100vh;
    overflow: hidden; /*prevede che si rompa il layout*/
}

.m{
    height: calc(100% - 70px);
}

.speacker {
    padding: 0.5rem;
    text-align: end;
}

.speacker i{
    padding: 3px;
    text-align: center;
}

.participants{
    padding: 2rem 0;
    overflow-y: auto;
    height: calc(100% - 70px); 
}

.participants .part{
    width: calc((100% / 7) - 0.5rem);
}

.participants .container{
    gap: 0.5rem;
}

/* #endregion main*/

/* #region footer*/
.tools {
    height: 70px;
    background-color: #222;
}

footer.tools{
    color: var(--zoom-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer.tools > .left
footer.tools > .right{
    /*flex-grow: 1;*/
    padding: 0.25rem;
}

footer.tools > .center{
    /*flex-grow: 2;*/
    padding: 0.25rem;
}


/* #endregion footer*/

/*icon - micro*/